# Smart Agriculture Fertilizer Detection Project

### Importing Libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

### Importing Data

In [3]:
df = pd.read_csv("../Crop_Yield_Fertilizer.csv")
df.head()

,N,P,K,temperature,humidity,ph,rainfall,label,yield,fertilizer
0,90.0,42.0,43.0,20.879744,82.002744,6.502985,202.935536,rice,71.199428,DAP
1,85.0,58.0,41.0,21.770462,80.319644,7.038096,226.655537,rice,81.620199,DAP
2,60.0,55.0,44.0,23.004459,82.320763,7.840207,263.964248,rice,80.473130,Gypsum
3,74.0,35.0,40.0,26.491096,80.158363,6.980401,242.864034,rice,75.178196,DAP
4,78.0,42.0,42.0,20.130175,81.604873,7.628473,262.717340,rice,75.485563,Gypsum

In [4]:
df.describe()

,N,P,K,temperature,humidity,ph,rainfall,yield
count,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000
mean,50.635879,53.261269,42.916830,25.654941,71.589104,6.473754,104.012789,51.498179
std,37.057076,32.730647,36.508261,5.444252,22.264433,0.820849,57.518599,15.976619
min,0.000000,0.000000,0.000000,8.825675,14.258040,3.500000,20.000000,20.000000
25%,20.664618,28.719592,20.267952,22.307274,58.951859,5.943957,62.112003,39.002743
50%,37.722838,50.701609,31.931283,25.670292,78.836173,6.442066,94.183127,48.510916
75%,84.380507,68.286954,48.902670,28.826462,88.856205,6.968489,134.288476,63.233901
max,140.000000,145.000000,205.000000,45.000000,100.000000,9.935091,300.000000,99.678474

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            25000 non-null  float64
 1   P            25000 non-null  float64
 2   K            25000 non-null  float64
 3   temperature  25000 non-null  float64
 4   humidity     25000 non-null  float64
 5   ph           25000 non-null  float64
 6   rainfall     25000 non-null  float64
 7   label        25000 non-null  object
 8   yield        25000 non-null  float64
 9   fertilizer   25000 non-null  object
dtypes: float64(8), object(2)
memory usage: 1.9+ MB

In [6]:
df.iloc[:2,:]

,N,P,K,temperature,humidity,ph,rainfall,label,yield,fertilizer
0,90.0,42.0,43.0,20.879744,82.002744,6.502985,202.935536,rice,71.199428,DAP
1,85.0,58.0,41.0,21.770462,80.319644,7.038096,226.655537,rice,81.620199,DAP

In [7]:
df.nunique()

N              22307
P              22290
K              20793
temperature    24876
humidity       23324
ph             24934
rainfall       24107
label             22
yield          24987
fertilizer         9
dtype: int64

In [8]:
df.isna().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
yield          0
fertilizer     0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [20]:
# getting unique types of fertilizers present
df['fertilizer'].value_counts()

fertilizer
Urea                 14683
MOP                   5071
SSP                   2770
Lime                   957
DAP                    685
Rock Phosphate         368
Gypsum                 288
Rhizobium              148
Potassium Nitrate       30
Name: count, dtype: int64